@using Doctrine.App.ViewModels
@model Doctrine.App.ViewModels.CommentViewModel
<div class="comment-item" id="comment_@Model.Comment.CommentId">
    <span class="parent_id" data-parent_id="0"></span>

    <div class="comment-body">
        <div class="clearfix info" rel="8294035">
            <div class="folding-dot-holder">
                <div class="folding-dot"></div>
            </div>

            <a class="avatar" href="#">
                <img alt="" src="~/Content/images/stub-user-small.gif">
            </a>

            <a class="username" href="#">@String.Format("{0} {1}", Model.Comment.User.FirstName, Model.Comment.User.LastName)</a>

            <time class="time">@Model.Comment.Date</time>

            <a class="link-to-comment" href="#comment_@Model.Comment.CommentId">#</a>

            <div class="show-tree" data-id="8294035" data-parent_id="8294027" title="Show comments' branch">↵</div>

            <a class="to-parent" data-id="8294035" data-parent_id="8294027" href="#comment_@Model.ParentCommentId">↑</a>

            <div class="voting" id="voting_@Model.Comment.CommentId">
                @{
                    int mark = Model.VotingInfo.PositiveVotesCount - Model.VotingInfo.NegativeVotesCount;
                    string markSign = "";
                    string markClass = "";

                    if (mark != 0)
                    {
                        if (mark > 0)
                        {
                            markSign = "+";
                            markClass = "is-positive";
                        }
                        else
                        {
                            markSign = "-";
                            markClass = "is-negative";
                        }
                    }
                }
                <div class="mark @markClass">
                    <span class="score" title="Total @(Model.VotingInfo.PositiveVotesCount + Model.VotingInfo.NegativeVotesCount): ↑@(Model.VotingInfo.PositiveVotesCount) и ↓@(Model.VotingInfo.NegativeVotesCount)">@String.Format("{0}{1}", markSign, mark)</span>
                </div>

                <div class="plus vote-button" title="Only registered users can vote"></div>

                <div class="minus vote-button" title="Only registered users can vote"></div>
            </div>
        </div>

        <div class="message">@Html.Raw(Model.Comment.Text)</div>

        <div class="reply_form_placeholder"></div>

        <div class="reply"></div>
    </div>

    <div class="reply-comments" id="reply_comments_@Model.Comment.CommentId">
        @foreach (CommentViewModel reply in Model.Replies)
        {
            Html.RenderPartial("Comment", reply);
        }
    </div>
</div>